body {
	background-color: #3A3A3A;
	margin: 0;
}

a, button, input, span {
	font-family: "Poiret One";
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

.task {
	display: flex;
	justify-content: space-between;

	border: 1px solid #C0C0C0;
	box-sizing: border-box;
	margin: .5em 0;
	padding: 1em;

	background-color: white;

	font-size: 1.5em;
}

.task span {
	min-width: 150px;
}

.task button {
	margin: 0 1em;

	background-color: white;
	border: none;

	font-size: 1em;
}

.task button::disabled {
	background-color: red;
}

.task-complete {
	background-color: #1BA866;

	color: white;

	transition: all 1s ease-in-out;
}

.App {
	background-color: white;

	height: 100vh;
	margin: 0 auto;
	padding: 2em;
	width: 50%;
}

/* Headers */

h1 {
	font-family: "Poiret One";
	margin-top: 0;
	text-align: center;
}

/* Forms */

.task-form {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}

.task-input {
	font-size: 1.5em;
	padding: .5em;
	width: 60%;
}

.task-select {
	border: none;

	background-color: #22819E;

	color: white;
	font-family: "Poiret One";
	font-size: 2em;
}

.task-submit {
	display: block;
	padding: 1em;
}

.list-tabs {
	display: flex;
	justify-content: space-around;

	margin: 1em 0 -15px;
	padding: 1em;
}

.list-tabs a {
	color: black;
	font-size: 1.25em;
}

.list-tabs .active {
	text-decoration: underline;
}

.edit-form {
	display: inline;
	min-width: 150px;
}

.edit-form input {
	display: block;

	box-sizing: border-box;
	padding: .25em;
	width: 100%;

	font-family: "Poiret One";
	font-size: 1em;
}

/*buttons*/

.task .complete-button {
	background-color: transparent;
	background-image:  url(./assets/img/tick.png);
	background-size: cover;
	height: 30px;
	width: 30px;
	background-position: 0;

	padding: 0;
}

.task-complete .complete-button {
	background-color: transparent;
	background-image:  none;
}

.task .edit-button {
	background-color: transparent;
	background-image: url(https://cdn2.iconfinder.com/data/icons/facebook-svg-icons-1/64/editprofile-128.png);
	background-size: cover;
	height: 30px;
	width: 30px;
	padding: 0;
}

.task .delete-button {
	background-color: transparent;
	background-image: url(./assets/img/delete.png);
	background-size: cover;
	background-position: 0;
	height: 30px;
	width: 30px;

	padding: 0;	
}
	
